$primary-color: #4793ff;
$light-color:#000000;
$light-background: #fff;
$base-color:#939cb0;
$box-shadow: 2px 5px 25px -3px rgba(180,180,180, 0.25);
$border-radius: 20px;

$body-background-dark: #0d1117;
$body-background-light: #fff;


:root{
    //body-background
  --body-background-dark: #{$body-background-dark};
  --body-background-light: #{$body-background-light};
  --body-background-default: var(#{--body-background-light});

}